@import "styles";

.card {
  padding: 10px;
  position: relative;
  label {
    position: absolute;
    padding: 0 5px;
    top: 0;
    transform: translate(0, -50%);
    background-color: map-get($colors, colorWhite);
  }
}
