<div class="notesList">
  <div class="row">
    <card class="pt-3 col-12 col-sm-6 col-lg-3" label="Add new note...">
      <new-note></new-note>
    </card>
    <ng-container *ngFor="let note of notes$ | async; let idx = index">
      <card class="pt-3 col-12 col-sm-6 col-lg-3" [label]="note.authorName">
        <note [data]="note" [idx]="idx"></note>
      </card>
    </ng-container>
  </div>
</div>
