@import "styles";

$numLines: 8;
$lineHeight: 1.4rem;

.note { 
  display: -webkit-box;
  line-height: $lineHeight;
  height: $numLines * $lineHeight;
  -webkit-line-clamp: $numLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}