@import "../scss/colors";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px map-get($colors, color1);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: map-get($colors, color1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: map-get($colors, color2);
}
