$colors: (
  colorWhite: hsl(0, 0%, 100%),
  color1: rgba(45, 77, 141, 0.05), // Scrollbar bacground
  color2: rgba(152, 152, 152, 0.55), // Scrollbar color
);

@each $color in $colors {
  .bg-#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
  .font-#{nth($color, 1)} {
    color: nth($color, 2);
  }
}
