<div class="loginPage maxHeight">
  <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        autocomplete="off"
        [formControl]="loginForm.get('username')"
      />
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary" 
      type="submit"
      [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</div>
