<div class="editNote">
  <mat-dialog-content class="noteForm" [formGroup]="noteForm">
    <div class="actions" *ngIf="!!this.data">
      <button mat-icon-button color="primary" [mat-dialog-close]="{ delete: true }">
        <mat-icon>delete</mat-icon>
      </button>
      <button 
        mat-icon-button 
        color="primary" 
        [disabled]="editMode === true"
        (click)="editMode = true">
        <mat-icon>edit</mat-icon>
      </button>
    </div>    
    <mat-form-field>
      <mat-label>Author Name</mat-label>
      <input
        matInput
        autocomplete="off"
        [readonly]="!editMode"
        [formControl]="noteForm.get('authorName')"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea
        matInput
        rows="10"
        [readonly]="!editMode"
        [formControl]="noteForm.get('content')"
      >
      </textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="null">
      Close
    </button>
    <button 
      mat-raised-button 
      color="primary" 
      [disabled]="noteForm.invalid || !dataHasChanged()"
      [mat-dialog-close]="noteForm.value">
      Post
    </button>
  </mat-dialog-actions>
</div>
