@import "../../scss/colors";

.editNote {
  .noteForm {
    display: flex;
    flex-direction: column;
    .actions {
      display: flex;
      justify-content: flex-end;
    }
    textarea {
      resize: none;
    }
  }
  mat-dialog-actions {
    justify-content: flex-end;
    display: flex;
  }
}
